#/InterruptDriver/.*
*.ko
*.mod
*.o
*.mod.c
*.Module.symvers.cmd
*.modules.order.cmd
*.usbTestDriver.ko.cmd
*.usbTestDriver.mod.cmd
*.usbTestDriver.mod.o.cmd
*.usbTestDriver.o.cmd
*Module.symvers
*modules.order
